:root {
  --black: #222;
  --mn: 7px;
  --sm: 15px;
  --md: 30px;
  --mg: 60px;
  --lg: 90px;

  --red: #f00;
  --blue: #00f;
  --white: #fff;

  --offset-top: 200px;

  --font-base: Helvetica, Arial, "AlteDIN" sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: var(--font-base);
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.3;
  color: var(--black);
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 4rem;
  font-weight: bold;
  line-height: 1.1;
}

em {
  color: inherit;
}

.k-text-small {
  font-size: 1.3rem;
}

.k-sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  overflow: auto;
  -webkit-overflow-scrolling: touch;

  padding-top: var(--md);
  padding-left: var(--sm);
}

.k-padding-small-right {
  padding-right: var(--sm) !important;
}

.k-margin-small-right {
  margin-right: var(--sm) !important;
}

.k-nav {
  margin-top: var(--offset-top);
}

.k-nav ul {
  list-style: none;
  margin: 0;
  padding: 0 0 0 var(--sm);
}

.k-nav ul li {
  font-size: 2.1rem;
}

.k-nav ul li a {
  color: var(--black);
  text-decoration: none;
}

.k-text-random {
  position: fixed;
  top: var(--md);
  left: var(--md);

  font-size: 7vw !important;
  letter-spacing: -3px;
  z-index: 1001;
}

.k-text-random a {
  color: var(--black);
  text-decoration: none;
}

.k-home-text {
  font-size: 4vw;
}

.k-column-image {
  height: 100vh;
  position: relative;
}

.k-image-hover {
  transition: filter 500ms ease, clip-path 500ms ease;
}

.k-image-hover:hover {
  filter: hue-rotate(45deg);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.k-image-filter {
  filter: hue-rotate(45deg) brightness(1.5) blur(5px) brightness(2);
}

.k-image-padding {
  position: absolute;
  z-index: 1;

  padding: var(--lg);

  top: 0;
  left: var(--sm);
  right: 0;
  bottom: 0;
}

.k-image-cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  font-family: "object-fit: cover; object-position: center;";
}

.k-image-contain {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
  font-family: "object-fit: contain; object-position: center;";
}

.k-sculpture-title,
.k-product-details {
  position: absolute;
  z-index: 2;
  left: var(--lg);
  bottom: var(--sm);
  font-size: 1.6rem;
  font-weight: bold;
}

.k-sculpture-title a {
  display: inline-block;
  padding: var(--md) var(--md) var(--sm) var(--md);
  background-color: var(--white);
}

.k-text-red {
  background: var(--red);
  color: var(--white);
  width: auto;
  display: inline-block;
  padding: 3px;
  margin-bottom: 3px;
}

.k-text-shadow {
  text-shadow: 1px 1px 2px black;
}

.k-text-red * {
  color: var(--white) !important;
}

.k-text-body {
  font-family: "Times New Roman", Times, serif;
  font-size: 1.8rem;
  line-height: 1.7;
  font-weight: normal;
}

/* Press */
.k-article {
  height: 50vh;
  position: relative;
}

.k-article-link {
  width: 100%;
  height: 100%;
  padding: var(--md);

  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}

.k-article-link,
.k-article-link:hover,
.k-article-link:active,
.k-article-link:focus {
  color: blue;
}

.k-article-image {
  border: 6px solid var(--red);
}

.k-article:hover .k-article-image {
  border: 6px solid var(--blue);
}

.k-article-title {
  font-weight: bold;
  font-size: 3rem;
}

.k-article-image {
  position: absolute;
  top: 0;
  left: var(--md);
  right: 0;
  bottom: 0;
  z-index: -1;
}

.k-article-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  font-family: "object-fit: cover; object-position: center;";
}

.k-article-details span {
  display: inline-block;
  background: var(--white);
  margin: 0 0 var(--mn);
}

.k-article-details span:last-child {
  margin-bottom: 0;
}

button {
  -webkit-appearance: none;
  margin: 0;
  padding: 0;
  border: 0;
  background-color: var(--white);
  font-family: var(--font-base);
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.3;
  cursor: pointer;
}

ol.k-dropdown-open,
ul.k-dropdown-open {
  display: block;
  padding-left: 2rem;
  margin-bottom: 2rem;
}

.k-dropdown-closed {
  display: none;
}

.k-sculpture {
  height: 75vh;
  position: relative;
}

.k-sculpture-image {
  width: 100%;
  height: 100%;
}

.k-sculpture-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  font-family: "object-fit: cover; object-position: center;";
}

.k-sculpture-detail {
  height: 100vh;
}

.k-sculpture-detail img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: left;
  font-family: "object-fit: contain; object-position: left;";
}

.k-carousel {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-wrap: nowrap;
  padding: var(--md) 0;
  overflow: hidden;
}

.k-carousel-image {
  width: 100%;
  height: 100%;
  flex: 0 0 100%;
  cursor: pointer;
  transition: transform 200ms ease-out;
}

.k-carousel-image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
  font-family: "object-fit: contain; object-position: center;";
}

.k-product-actions {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.k-product-title {
  font-size: 2.5rem;
}

.k-button-actions-buy {
  padding: var(--sm) var(--lg);
  display: block;

  border: 3px solid var(--red);
  background-color: var(--red);
  color: var(--white);
}

.k-button-actions-buy:hover {
  background-color: var(--white);
  color: var(--red);
}

.k-page {
  margin-top: var(--offset-top);
}

/* UIkit extensions */
.uk-margin-small-top {
  margin-top: var(--sm) !important;
}

.uk-margin-small-right {
  margin-right: var(--sm) !important;
}

.uk-margin-small-bottom {
  margin-bottom: var(--sm) !important;
}

.uk-margin-small-left {
  margin-left: var(--sm) !important;
}

.uk-padding-small-top {
  padding-top: var(--sm) !important;
}

.uk-padding-medium-right {
  padding-right: var(--md) !important;
}

.uk-padding-medium-bottom {
  padding-bottom: var(--md) !important;
}

.uk-padding-medium-left {
  padding-left: var(--md) !important;
}

.k-align-items-flex-end {
  align-items: flex-end !important;
}
